/*==================================================
  General styles 
  ==================================================
*/
body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.container.blurred {
  filter: blur(3px);
}


/*==================================================
  Dropdown styles 
  ==================================================
*/
.religion-dropdown-container {
  text-align: center;
  margin-top: 10px;
}

#religion-select {
  padding: 5px 10px;
  font-size: 14px;
}




#controls {
  text-align: center;
}

/*==================================================
  Menu styles 
  ==================================================
*/
.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  position: relative;
}

.menu .dropdown {
  position: relative;
  display: inline-block;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid #999;
  border-radius: 4px;
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu a {
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  display: block;
}

.menu a:hover {
  background-color: #352b2b;
  color: #000;
}


/*==================================================
  Section styles 
  ==================================================
*/
section {
  margin: 40px 0;
  padding: 20px;
  border-top: 1px solid #999;
}

section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

/*==================================================
  Year slider styles 
  ==================================================
*/
#year-slider {
  width: 100%;
  display: block;
  margin: 20px auto; 
}

.year-label {
  font-family: Arial, sans-serif;
}

.slider-wrapper svg {
  height: 30px;
  display: block;
  width: 100%;
}

.year-label {
  font-size: 12px;
  fill: #333;
  font-family: Arial, sans-serif;
  text-anchor: middle;
}

.year-container {
  position: sticky;
  top: 0;
  background-color: white; /* ensure content doesn't show behind it */
  z-index: 1000;            /* keep it on top */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}