#year-slider {
  width: 100%; /* SET SLIDER WIDTH TO 90% */
  display: block;
  margin: 20px auto; /* CENTER SLIDER */
}

.year-label {
  font-family: Arial, sans-serif;
}

.slider-wrapper svg {
  height: 30px;
  display: block;
  width: 100%;
}

.year-label {
  font-size: 12px;
  fill: #333;
  font-family: Arial, sans-serif;
  text-anchor: middle;
}

.year-container {
  position: sticky;
  top: 0;
  background-color: white; /* ensure content doesn't show behind it */
  z-index: 1000;            /* keep it on top */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}