#year-slider {
    margin: 20px auto; /* Center horizontally with auto margins */
    width: 200px;
    display: block; /* Ensure the slider behaves as a block element for centering */
}

label {
    font-size: 16px;
    margin-right: 10px;
}

#selected-year {
    margin: 20px auto; /* Center horizontally with auto margins */
    width: 200px;
    display: block; /* Ensure the slider behaves as a block element for centering */
}